* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: gray;
  font-family: Arial;
  text-align: center;
}
.card {
  width: 350px;
  background-color: white;
  border: 2px solid #9198a1;
  border-radius: 20px;
  padding: 20px;
  margin: auto;
}
.avt {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #007bff;
  margin-bottom: 15px;
}
.fullname {
  color: blue;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 2rem;
}
.major {
  color: gray;
  font-style: italic;
  font-size: 1.1rem;
}
.information p {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.skills {
  margin: 10px;
  text-align: center;
}
.skill {
  display: inline-block;
  border: 2px solid #007bff;
  color: blue;
  border-radius: 999px;
  padding: 10px;
}
.button {
  display: block;
  padding: 15px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  margin: 5px;
  text-align: center;
}
.follow {
  background-color: green;
  color: white;
}
.message {
  background-color: white;
  border: 2px solid green;
  color: green;
}
